[Unit]
Description=Loyal userbot sync once

[Service]
Type=oneshot
WorkingDirectory=/home/zotho/Projects/Loyal/solana-telegram-transactions/workers/userbot
EnvironmentFile=/home/zotho/Projects/Loyal/solana-telegram-transactions/workers/userbot/.env.local
ExecStart=/home/zotho/.bun/bin/bun run sync:once
